modules = ["nodejs-20", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/backend run dev"
waitForPort = 5000

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "5000"
JWT_ACCESS_SECRET = "9a54be0c392abeae463ab5e817f359ad5d76ed8a82673b094006e823e9ff77572849fc8123ab8e6400f237cb15281fb625f5082ecf178a6b0ee1f5b8decb5297"
JWT_PASSWORD_RESET_SECRET = "23cd4741e5d80a71ad26b9f4718a4953b4c6a2514fb79805eb57455713e5785dc9e6e042833f85449ec68da17da2c2d7323c547bea55907ebbd5daf2d2ac53bf"
JWT_REFRESH_SECRET = "232cf122298ec324dad253ad689b8f9557f33869ceae325a707c10d290fcff465896b45b2c791b71439f242d99165e71dc0b4dfb8ea0acf9e64cfd2350c46b17"
